{% extends "@EasyAdmin/layout.html.twig" %}

{% block content_title %}Admin Page{% endblock %}

{% block page_actions %}
    <a class="btn btn-primary" href="{{ path('app_home') }}">Return Home</a>
{% endblock %}

{% block content %}
    <h1>Panel Admin</h1>
{% endblock %}