<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Categories
	</a>
	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
		{% for category in categories %}
			<a class="dropdown-item" href="{{ path('app_category', {'id': category.id}) }}">{{ category.name }}</a>
		{% endfor %}
	</div>
</li>
